/* Write your CSS here */
.repo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  background-color: #f8f8ff;
  padding: 25px;
  border-radius: 25px;
}
.avatar-image {
  width: 92px;
  height: 92px;
  margin-bottom: 8px;
}
.repo-name {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 85%;
}
.stat-icons {
  width: 16px;
  height: 16px;
}
.stat-text {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 500;
  margin: 0px;
  font-size: 15px;
}
@media (min-width: 576px) {
  .repo-item {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .repo-item {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .repo-item {
    width: 25%;
  }
}
